@import '../deafult'
@import '../header'

#hero
    background-repeat: no-repeat
    background-size: cover
    background-position-x: center
    color: hsla(0, 0%, 100%, 1)
    padding: 100px 0 100px 5%



#s-details
    display: flex
    align-items: center
    gap: 10px
    font-size: .8rem

#bio
    width: 40%
    margin: 20px 0
    line-height: 21px

#title
    font-weight: 700
    font-size: 62px

#hero-buttons button
    font-size: 3rem
    color: hsla(0, 0%, 100%, .65)

    &:first-child
        margin-right: 20px

.profile-container
    width: 50px
    height: 50px
    background-repeat: no-repeat
    border-radius: 10999px
    background-size: cover
    background-position: center