*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

$tablet-min: 768px;
$tablet-max: 1366px;
@mixin tablet{
    @media (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) {
        @content;
    }
}

$laptop-min: 1366px;
@mixin laptop{
    @media (min-width: #{$laptop-min}) {
        @content;
    }
}

$phone-max: 414px;
$phone-min: 280px;
@mixin phone{
    @media (min-width: #{$phone-min}) and (max-width: #{$phone-max}) {
        @content;
    }
}

.container{
    width: 90%;
    margin: auto;
}
a{color: white;}
button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}
.body-toggle{overflow: hidden;}
img{display: block; pointer-events: none;}

h1, h2, p{pointer-events: none;}

main.container{
    margin-top: 4rem;
}

main{
    padding-bottom: 3rem;
    margin-top: 3rem;

    @include tablet{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }
    @include laptop{
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 2rem;
    }

    #custom{
        .custom__mode--container{
            border-radius: 10px;
            box-shadow: 0 2px 6px hsla(0, 17%, 25%, 0.10);
        }
        .custom__mode--options{
            border-top: 1px solid hsla(0, 0%, 0%, 0.05);
            display: none;
            h2{
                font-size: 1rem;
                font-weight: 400;
            }
    
            ul{
                //padding-top: 1rem;
                display: flex;
                flex-wrap: wrap;
                li{
                    border: 1px solid hsla(0, 0%, 0%, 0.05);
                    border-radius: 100px;
                    width: fit-content;
                    padding: .5rem .7rem;
                    flex-shrink: 0;
                    font-size: .8rem;
                    margin-top: 1rem;
                    cursor: pointer;
                }
                li + li{
                    margin-left: .5rem;
                }
                //JS
                .select{
                    background-color: #00B5E8;
                    color: white;
                }
            }
        }
    
        button, .custom__mode--options{padding: 1rem;}
    
        button.custom__mode--name{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.3rem;
            font-weight: 500;
            letter-spacing: 1px;
            width: 100%;
    
            .arrow{font-size: 1rem;}
        }
    
        button#search{
            width: 100%;
            font-size: 1.5rem;
            padding: .7rem 0;
            border-radius: 10px;
            background-color: #00B5E8;
            color: white;
            text-transform: capitalize;
            font-weight: 500;
            letter-spacing: 1px;
            margin-top: 3rem;
            display: initial;
        }
    
        //JS
        .custom__mode--options--toggle{display: block;}
        .arrow--toggle{transform: rotate(90deg);}
    }
    
    
    #tv{
        #tv__container{
            position: relative;
            margin-top: 1.5rem;

            @include tablet{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2rem;
                margin-top: 0;
            }
            @include laptop{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 2rem;
                margin-top: 0;
            }

            a{
                color: black; 
                display: flex;
                overflow: hidden;
                border-radius: 10px;
                box-shadow: 0 2px 6px hsla(0, 17%, 25%, 0.10);

                @include tablet{
                    display: initial;
                    flex-direction: column;
                }
                @include laptop{
                    display: initial;
                    flex-direction: column;
                }

                .tv__synopsis{
                    @include tablet{
                        display: none;
                    }
                    @include laptop{
                        display: none;
                    }
                }
                img{width: 100%;}
            }
            a + a{
                margin-top: 2rem;
                @include tablet{
                    margin-top: 0;
                }
                @include laptop{
                    margin-top: 0;
                }
            }
    
            .info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1rem;
                gap: .4rem;
            }
    
            h2{font-size: .95rem;}
            .tv__release-date {
                font-size: .8rem;
            }
    
        }
    }
}


button#load__more{
    width: 100%;
    font-size: 1.5rem;
    padding: .7rem 0;
    border-radius: 10px;
    background-color: #00B5E8;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 3rem;
}

@import 'header'

