* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: roboto;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: black;
}

.contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.mx-auto {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  width: 100%;
}

header {
  background-color: #002342;
}

header a, header i {
  color: white;
}

nav a + a {
  margin-left: 30px;
}

#contain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin-top: 40px;
  position: relative;
}

@media (max-width: 414px) {
  #contain {
    display: initial;
  }
}

#genre-selection {
  -webkit-box-shadow: 0 8px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 8px 6px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  padding: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  background: white;
}

@media (max-width: 414px) {
  #genre-selection {
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
}

.filter-section {
  display: none;
}

.filter-section > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.filter-section > ul li {
  list-style: none;
}

.filter-section > ul li button {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 100px;
  padding: .5rem .7rem;
}

#tv-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

@media (max-width: 414px) {
  #tv-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
  }
}

#tv-container .item {
  -webkit-box-shadow: 0 2px 6px rgba(75, 53, 53, 0.1);
          box-shadow: 0 2px 6px rgba(75, 53, 53, 0.1);
}

@media (max-width: 414px) {
  #tv-container .item img {
    width: 100%;
  }
}

#genre-search {
  width: 100%;
  font-size: 1.5rem;
  padding: .7rem 0;
  border-radius: 10px;
  background-color: #00B5E8;
  color: white;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 3rem;
}

.genre-list-toggle {
  background-color: #00B5E8;
  color: white;
}

#filter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.filter-section-arrow {
  font-size: 1.1rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.filter-section-arrow__toggle {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

@media (max-width: 820px) {
  #contain {
    display: block;
  }
  #tv-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 896px) and (max-height: 414px) {
  #contain {
    display: block;
  }
}
/*# sourceMappingURL=tv.css.map */